{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Edit your task</h2>
        {{ dump(task.id) }}
        {{  include('admin/task/_form.html.twig', {form: form, button:'Edit'}) }}
    </div>
{% endblock %}

