{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Register your task</h2>
        {% include 'admin/task/_form.html.twig', {form: form, button:'Create'} %}
    </div>
{% endblock %}

t