{% extends 'base.html.twig' %}

{% block title %} List of Todo{% endblock %}

{% block body %}


    <div class="container mt-4" >
        <h1>
            Your todo table
        </h1>
        <table class="table table-striped">
            <caption> List of every todo you have</caption>
            <thead>
            <tr>
                <th scope="col">Nom de la Todo</th>
            </tr>
            </thead>
            <tbody>
            {% for element in todo %}
                <tr>
                    <th scope="row"> {{ element.Name }} </th>
                    <td>
                        <a href="{{ path('admin.todo.edit', {id: element.Name}) }}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            <div class="text-right">
                <a href="{{ path('admin.task.new') }}" class="btn btn-primary">New Task</a>
            </div>
            </tbody>
        </table>
    </div>
{% endblock %}
